<a href="https://colab.research.google.com/github/cmp050203/OOP-58002/blob/main/Fundamentals_of_Phython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [2]:
x = float(1)
a, b = 0, -1
a, b, c = "Ccc", "Charry", "Mae"

print('This a sample')
print(a)
print(c)

This a sample
Ccc
Mae

Casting

In [3]:
print(x)

1.0

Type() Function

In [4]:
y = "Charry"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [5]:
h = "Cmmp"
v = 4
v = 5

print(h)
print(v)
print(v+1)

Cmmp
5
6

Multiple Variables

In [6]:
x,y,z="one", "two", "five"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
five
one two five

One Value to Multiple Variables

In [8]:
x = y = z ="Names"
print(x,y,z)

Names Names Names

Output Variables

In [9]:
x= "fun"

print("Python is " + x)

x = "Hello"
y = "World"

print(x+""+" "+y)

Python is fun
Hello World

Arithmetic Operations

In [13]:
a = 1
b = 2
c = 4

print(a+b)
print(a-b)
print(a*c)
print(int(c/b))
print(3/b)
print(3%b)
print(3//b)
print(3**4)

3
-1
4
2
1.5
1
1
81

Assignment Operators

In [14]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(1>>l)

5
0

Boolean Operators

In [15]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [16]:
print(v>k) #v=4, k=5

print(v==k)

True
False

Logical Operators

In [17]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

False
False
True

Identity Operators

In [18]:
print(v is k)
print(v is not k)

False
True