<a href="https://colab.research.google.com/github/cmp050203/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() Function

In [2]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [3]:
def myFunction():
  return False 

print(myFunction())

False

In [4]:
def myFunction():
  return True

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [5]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [6]:
a=60
b=13
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

True
a is greater than b

Python Operators

In [7]:
print(10+3)
print(10-3)
print(10*3)
print(10%3)
print(10/3)

13
7
30
1
3.3333333333333335

Bitwise Operators

In [8]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [9]:
k = True
l = False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Application 2

In [10]:
#Assignment Operators
x=2

x+=3 #same as x=x+3
print(x)

x-=3 #same as x=x-3
print(x)

x*=3 #same as x=x*3
print(x) 

x/=3 #same as x=x/3
print(x)

x%=3 #same as x=x%3
print(x)

5
2
6
2.0
2.0

Identity Operators

In [11]:
k is l
k is not l

True

**Control Structure**

If Statements

In [12]:
v = 2
z = 1

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [13]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is greater than z

Else Statement

In [14]:
number = int(input()) #to know if the number is positive or negative

if number>0:
  print("Positive")
elif number<0:
  print("Negative")
else:
  print("number is equal to zero")

0
number is equal to zero

Short Hand If Statement

In [23]:
i = 10
if i < 15:
    print("i is less than 15")

i is less than 15

Short Hand If...Else Statement

In [24]:
a = 10
b = 9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

In [25]:
if a>b and b==b:
  print("Both conditions are true")

Both conditions are true

In [26]:
if a<b or b==b:
  print("The condition is True")

The condition is True

Nested If

In [28]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

49
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

**Loop Statement**

For Loop

In [29]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ["Rainy", "Sunny"]

for x in week:
  for y in season:
    print(y,x)

Rainy Sunday
Sunny Sunday
Rainy Monday
Sunny Monday
Rainy Tuesday
Sunny Tuesday
Rainy Wednesday
Sunny Wednesday
Rainy Thursday
Sunny Thursday
Rainy Friday
Sunny Friday
Rainy Saturday
Sunny Saturday

Break Statement

In [30]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [31]:
for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

In [32]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 3 - Create a phyton program that displays no. 3 using break statement

In [33]:
i =1
while i<4:
  if i==3:
    break
  i+=1
print(i)

3

Application 4

In [34]:
#Create a Python program that displays numbers from 1 to 4 using while loop statement

n=1
while n<5:
  print(n)
  n+=1

1
2
3
4

Application 5

In [35]:
#Create a Python program that displays 4 numbers using while loop and break statement

r=1
while r<=4:
  if r==4:
    print(r)
  r+=1

4